<% @list_of_posts.each do |post| %>
<article>
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <div>
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes:  <%= post.likes_counter %></p>
    </div>
</article>
<%end%>
