<article class="user-card">
    <div class="photo-container">
        <%= image_tag(@user.photo, :alt => "parrot logo") %>
    </div>
    <div class="user-container">
        <h2 class="user-name"><%= @user.name %></h2>
        <p class="text">Number of posts: <%= @user.posts_counter %></p>
    </div>
</article>
<div class="bio-container">
    <h3 class="title">Bio</h3>
    <p class="text"><%= @user.bio %></p>
</div>
