<div class="vh-100 headline">
    <h1 class="main-title position-absolute top-50 start-50 translate-middle text-center">The Luxury Of Posting</h1>
    <div class="color-overlay"></div>
</div>
<div class="container">
    <h1 class="fs-1 fw-bold mb-4">Users</h1>
    <%= render @users %>
</div>
