<h1>Users</h1>
<% @users.each do |user| %>
    <div>
        <div>Photo</div>
        <div>
            <%= user.name %>
            Number of posts: <%= user.posts_counter %>
        </div>
    </div>
<%end%>
