<article class="user-card">
    <div class="photo-container">
        <%= image_tag('cartoon_1.png', :alt => "user logo", :class => "img_profile") %>
    </div>
    <div class="user-container">
        <h2 class="fs-5 fw-bold"><%= @user.name %></h2>
        <div class="d-flex flex-column align-items-start">
            <p class="fs-6 fw-bold text-secondary m-0">Posts</p>
            <p class="fs-3 fw-bold m-0"><%= @user.posts_counter %></p>
        </div>
    </div>
</article>
