@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 1rem 0;
  margin-bottom: 1rem;

  .nav {
    list-style: none;
    width: 100%;

    .logo-container {
      width: 90px;
      height: 61px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .menu {
      list-style: none;

      .link:hover {
        text-decoration: underline;
      }
    }

    li {
      a {
        font-size: 1.1rem;
        text-decoration: none;
      }
    }
  }
}
