// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.post-text {
  padding: 1rem 0;
  font-size: 1.1rem;
}

.user_link_container:hover .title {
  color: #777;
}

.fa-thumbs-up:hover {
  transform: scale(1.2);
}
