// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "font-awesome";

body {
  margin: 0;
}

.user_link_container {
  text-decoration: none;
  color: black;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 93px;
  border-radius: 1rem;

  img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
}

.user-container {
  padding: 8px 0;
  flex-grow: 2;
}

.bio-container {
  padding: 8px 0;
}

.post-container {
  padding: 8px 0;
}

.btn-container {
  text-align: center;
}
